.pagination {
  padding: 1rem 1rem 1rem 1rem;
  height: auto;
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.pagination-button {
  background-color: inherit;
  padding: 1rem;
  align-items: center;
  border-radius: 8px;
  border: none;
}

.pagination-text {
  color: white;
  text-decoration: none;
  font-family: 'Space Mono', monospace, sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

.pagination-text:hover {
  color: #00a6fb;
}

.pagination-button:disabled {
  opacity: 0.5;
  pointer-events: none;
}
