.pagination {
  display: flex;
  justify-content: center;
  padding: 1rem;
  height: auto;
  text-align: center;
  position: sticky;
  bottom: -18px;
  background-color: #141d2f;
  z-index: 2;
}

.pagination-button {
  background-color: inherit;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  border: none;
}

.pagination-text {
  color: white;
  text-decoration: none;
  font-family: 'Space Mono', monospace, sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

.pagination-text:hover {
  color: #00a6fb;
}

.pagination-button:disabled {
  opacity: 0.5;
  pointer-events: none;
}
