@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

/* box  */
:root {
  --green: #58a497;
  --yellow: #e09449;
  --lightgreen1: #a4bdb7;
  --brown: #8b4448;
  --gray: gray;
  --lightgreen2: rgb(164, 189, 183, 0.5);
  --box: #ededed;
}

/* Content-1:Start */
.box {
  width: 350px;
  height: fit-content;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  background: #ededed;
}

.box1 {
  margin-top: 10px;
}

.content {
  margin: 15px 2px;
}

.image img {
  height: auto;
  width: 120px;
  border-radius: 50%;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.level {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 0.7em;
  font-weight: bolder;
  letter-spacing: 1px;
  margin: 0px auto 10px;
}

.skill{
  background-color: rgb(164, 189, 183, 0.5);
  border-radius: 5px;
  padding: 3px;
  margin: 2px;
}

.name {
  font-size: 1.25em;
  font-weight: bolder;
  letter-spacing: 1px;
}

.job_title {
  font-size: 0.65em;
  font-weight: bolder;
  color: gray;
  margin-top: -2px;
}

.job_discription {
  font-size: 0.7em;
  color: gray;
  margin: 10px 30px 20px;
}

.icons {
  margin: 0px 60px;
  font-size: 1.5em;
  display: flex;
  justify-content: space-around;
}

.icons li a{
  text-decoration: none;
  width: fit-content;
  height: fit-content;
  border: none;
  font-size: 1em;
}
i{
  color: #000;
}

i:hover {
  transition: 0.5s;
}

 a{
  text-decoration: none;
  display: block;
  border-radius: 10px;
  font-weight: bolder;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin: 20px 30px 0px;
}

.button .connect {
  background-color: #000;
  color: #ededed;
  border: none;
  display: flex;
  width: 130px;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.icons a:hover i{
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  color: #0031b9;
  background: -webkit-linear-gradient(45deg, #1b58c9, #0daae9);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}

.button a:hover{
  font-size: 1.1em;
  transition: all 265ms ease-in;
}
