.profile-container {
  margin-left: 20rem;
  padding: 0rem 1.5rem;
}

.profile-card {
  border-radius: 10px;
  background: #1e2a47;
  margin-bottom: 1.5rem;
  padding: 1rem;
  height: 220px;
  color: #fff;
}

.profile-photo {
  flex-shrink: 0;
}

.profile-card .top-container {
  display: flex;
  gap: 1rem;
}

.profile-card .profile-photo {
  height: 6.1rem;
  width: 6.1rem;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile-details {
  width: 44rem;
  overflow: hidden;
}

.profile-details p {
  font-size: 14px;
}

.profile-details .skills-container {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.skills-container .skill {
  background-color: rgba(20, 29, 47, 1);
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
}

.profile-link a {
  text-decoration: none;
  color: #00a6fb;
}

.bottom-container {
  margin-top: 1rem;
}

.bottom-container .about {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre-wrap;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.bottom-container .social {
  display: flex;
  margin-top: 0.5rem;
}

.social .github,
.social .twitter,
.social .linkedin {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-right: 2rem;
}

.social-link {
  text-decoration: none;
  color: #fff;
}
