.no-result {
  margin-top: 2.5rem;
}

.no-result-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem 0;

  color: #fff;
  text-align: center;
}

.no-result-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.25rem 0;
}
