.no-result-container {
  margin-left: 20rem;
  padding: 0rem 1.5rem;
}

.no-result-card {
  border-radius: 10px;
  background: transparent;
  margin-bottom: 1.5rem;
  padding: 1rem;
  height: auto;
  color: #fff;
}

.no-result-card .top-container {
  display: flex;
  gap: 1rem;
}
.no-results .text{
 margin-top: 16px;
}


