.sidebar {
  font-family: 'Space Mono', monospace, sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0px 30px;
  min-width: 20rem;
  height: 90vh;
  border-right: 2px solid rgba(194, 183, 183, 0.1);
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 3rem;
}

.title {
  display: flex;
  font-weight: bold;
  font-size: 2rem;
}

.title .dev {
  color: #fff;
}

.title .find {
  color: #00a6fb;
}

.titlelink {
  text-decoration: none;
}

.headline {
  color: #fff;
}

.description a {
  text-decoration: underline;
  color: #fff;
  transition: color 0.2s ease;
}

.description a:hover {
  text-decoration: underline;
  color: #00a6fb;
}

.description {
  padding-top: 25px;
}
.link_button {
  background-color: #00a6fb;
  font-family: 'Poppins';
  border-radius: 8px;
  cursor: pointer;
  transition: all;
  transition-duration: 500ms;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.link_button:hover {
  background-color: white;
  color: #00a6fb;
}

@media screen and (max-width: 768px) {
  .sidebar {
    position: relative;
    width: auto;
    height: auto;
  }
}
