/* .sidebar {
  font-family: 'Space Mono', monospace, sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0px 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 90vh;
  border-right: 2px solid var(--border-color);
} */

/* .header {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 3rem;
  margin-bottom: 0.5rem;
} */

/* .title {
  display: flex;
  font-weight: bold;
  font-size: 2rem;
} */

/* .title .dev {
  color: var(--text-color);
}

.title .find {
  color: #00a6fb;
} */
/* 
.titlelink {
  text-decoration: none;
} */

/* .headline {
  color: var(--text-color);
} */

/* .description a {
  text-decoration: underline;
  color: var(--text-color);
  transition: color 0.2s ease;
}

.description a:hover {
  text-decoration: underline;
  color: #00a6fb;
} */

/* .description {
  padding-top: 25px;
} */
/* 
.link_button {
  background-color: #00a6fb;
  font-family: 'Poppins';
  border-radius: 8px;
  cursor: pointer;
  transition: all;
  transition-duration: 500ms;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border: 2px solid #00a6fb;
} */

/* .link_button:hover {
  background-color: transparent;
  color: #00a6fb;
} */

/* .theme {
  margin-left: auto;
} */

/* .theme-button {
  width: 42px;
  height: 42px;
  border-radius: 8px;
  color: var(--text-color);
  border: solid 2px var(--border-color);
  background-color: var(--secondary-color);
  transition: all 0.2s ease;
  cursor: pointer;
} */

/* .theme-button:hover {
  color: #00a6fb;
  border: solid 2px #00a6fb;
} */

/* @media screen and (max-width: 768px) {
  .sidebar {
    position: relative;
    width: auto;
    height: auto;
  }
} */
