.sidebar {
  font-family: "Space Mono", monospace, sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0px 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 90vh;
  border-right: 2px solid rgba(194, 183, 183, 0.1);
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 3rem;
}

.title {
  display: flex;
  font-weight: bold;
  font-size: 2rem;
}

.title .dev {
  color: #fff;
}

.title .find {
  color: #00a6fb;
}

.headline {
  color: #fff;
}

a:visited {
  color: #ffff;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.description {
  padding-top: 25px;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
