.search-bar {
  margin-bottom: 1.5rem;
}

.search-bar-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0;
  padding: 0 1.5rem;
}

.search-bar-input {
  font-family: 'Space Mono', sans-serif;
  font-size: inherit;

  width: 100%;
  height: 3rem;
  border-radius: 6px;
  border: 2px solid rgba(194, 183, 183, 0.1);
  background: rgba(20, 29, 47, 1);

  padding: 0.25rem 0.8rem;
  outline: none;
  color: #fff;
}

.info {
  font-size: 0.85rem;
  color: #fff;

  display: flex;
  align-items: center;
  gap: 0 0.75rem;

  padding-left: 0.2rem;
}

@media (min-width: 768px) {
  .search-bar-input {
    width: 30rem;
  }
}
