.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 20rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0px 1.5rem;
  position: relative;
}

.search-bar input {
  width: 100%;
  height: 3rem;
  border-radius: 6px;
  border: 2px solid var(--border-color);
  background: var(--primary-color);
  padding: 0.25rem 0.8rem;
  font-size: 1rem;
  outline: none;
  color: var(--text-color);
  font-family: 'Space Mono', sans-serif;
}

.search-bar .search-icon {
  position: absolute;
  margin-right: 10px;
  font-size: 1.25rem;
  cursor: pointer;
}

.search-icon:hover {
  color: #00a6fb;
}

@media (max-width: 768px) {
  .search-bar input {
    width: 100%;
  }
}
