.search-bar {
  margin-left: 20rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0px 1.5rem;
  position: relative;
  width: 31rem;
}

.search-bar input {
  width: 30rem;
  height: 3rem;
  border-radius: 6px;
  border: 2px solid rgba(194, 183, 183, 0.1);
  background: rgba(20, 29, 47, 1);
  padding: 0.25rem 0.8rem;
  font-size: 1rem;
  outline: none;
  color: #fff;
  font-family: "Space Mono", sans-serif;
}

.search-bar .search-icon {
  position: absolute;
  right: 5px;
  top: 15px;
  font-size: 1.25rem;
  cursor: pointer;
  color: #fff;
}

.search-icon:hover {
  color: #00a6fb;
}

@media (max-width: 480px) {
  .search-bar {
    width: 100%;
  }

  .search-bar input {
    width: 100%;
  }

  .search-bar .search-icon {
    right: 30px;
    top: 13px;
  }
}
