.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-page-content {
  text-align: center;
  color: #fff;
}

.error-page-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.error-page-content p {
  font-size: 1.5rem;
}
