@media (max-width: 768px) {
  .App > div {
    margin-left: 0px;
  }
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background-color: rgba(20, 29, 47, 1);
}

::-webkit-scrollbar-thumb {
  background: rgb(21, 90, 228);
  border: 2px solid transparent;
  border-radius: 8px;
  background-clip: content-box;
}
