.profile-container-sk {
  margin-left: 20rem;
  padding: 0rem 1.5rem;
}

.profile-card-sk {
  border-radius: 10px;
  background: var(--secondary-color);
  margin-bottom: 1.5rem;
  padding: 1rem 1rem 0rem 1rem;
  height: auto;
  box-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.profile-card-sk .top-container-sk {
  display: flex;
  gap: 1rem;
}

.profile-photo-sk {
  height: 6.1rem;
  width: 6.1rem;
  flex-shrink: 0;
}

.profile-details-sk {
  width: 80%;
  overflow: hidden;
}

.profile-link-sk {
  width: 10%;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

.profile-details-sk .skills-container-sk {
  margin-top: 0.8rem;
  display: flex;
  gap: 1rem;
  overflow: hidden;
}

.skills-container-sk .skill-sk {
  height: 2rem;
}

.bottom-container-sk {
  margin-top: 1rem;
}

.bottom-container-sk .social-sk {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
  height: 3rem;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.skeleton-img {
  border-radius: 50%;
}

.skeleton-profile-link {
  width: 4rem;
  height: 6rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}

.skeleton-text-lg {
  width: 100%;
  height: 1.6rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}

.skeleton-text-sm {
  width: 100%;
  height: 1.2rem;
  margin-bottom: 0.4rem;
  border-radius: 0.25rem;
}

.skeleton-skill {
  width: 100%;
  height: 2rem;
  border-radius: 0.25rem;
}

.skeleton-social {
  width: 2rem;
  height: 2rem;
  margin-right: 0.4rem;
  border-radius: 0.25rem;
}
